*.png
.idea/
*.ods
*.txt
2016/
python/
*pdf
*pyc
*.swp
*.db3

templates/.flea_market.html.swp
templates/.login.html.swp
templates/.new_seller.html.swp
templates/.register.html.swp
templates/.register_many_posts.html.swp
*.cfg
uaf_docker/
