body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
}

html {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    marging-bottom: 10px;
    background: white;
}

#main {
    padding: 30px;
    height: 100vh;
}





a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


.error_border {
    border-color: red;
}

.error {
    color: red;
    font-size: 1.5em;
}

.warning {
    color: orange;
    font-size: 1.5em;
}

.info {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background: white;
}

right-align {
    align: right;
}
.hidden {
    display: none;
    visibility: hidden;
}

.visible {
    display: block;
    visibility: visible;
}


.left {
    float: left;
    margin-right: 2%;
}


.ten {
    width: 10%;
}
.twenty {
    width: 20%;
}
.forty {
    width: 40%;
}
.fifty {
    width: 50%;
}
.ninety {
    width: 90%;
}
.ninetyfour {
    width: 94%;
}
.hundred {
    width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.blackborder {
    padding: 5px;
    overflow: hidden;
    border: 2px solid black;
}

.hidden {
    display: none;
}

table {
  border-collapse: separate;
  border-spacing: 5px 0;
}

td {
  padding: 10px 0;
}