{% extends "base.html" %}
{% block title %} Contact {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
<h1> Contact </h1>
<p>You can reach us through the contact form, or send an email to contact@example.org.</p>
<form action="/contact" id="contact_form">
    <label for="subject">Subject</label>
    <input type="text" name="subject" id="subject"> <br>
    <label for="email">Email</label>
    <input type="email" name="email" id="email"> <br>
    <label for="message">Message</label>
    <textarea rows="5" name="message" id="message" form="contact_form"></textarea>
    <br><br>
    <input type="submit" value="Submit">
</form>
{% endblock %}
