{% extends "base.html" %}
{% block title %} Skapa event {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
<div class="container">
    <h1>Skapa auktion och eller loppis</h1>

    <p>När en ny databas skapas raderas den gamla databasen och all information i den. Gör en kopia av den gamla databasen innan du skapar en ny.</p>


    <form id="create_event_form" class="form-horizontal" action="/create_event" method="POST">
        <div class="form-group">
            <label class="control-label col-sm-3" for="hosting_association">Föreningens namn:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="hosting_association" name="hosting_association" placeholder="Föreningens namn">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="hosting_association_abrv">Föreningens förkortning:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="hosting_association_abrv" name="hosting_association_abrv" placeholder="Föreningens förkortning">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="city">Stad där eventet äger rum:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="city" name="city" placeholder="Stad">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="event_name">Namn på eventet:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="event_name" name="event_name" placeholder="Namn på eventet">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="date">Datum då eventet äger rum:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="date" name="date" placeholder="YYYY-MM-DD">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="hosting_association_abrv">Föreningens andel:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="commission" name="commission" placeholder="0-100%">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="event_description">Beskrivning av eventet:</label>
            <div class="col-sm-9">
                <textarea  class="form-control" rows="10" id="event_description" name="event_description" placeholder=""></textarea>
            </div>
        </div>

        <!--Type of posts-->
        <hr>
        <div class="container">
            <h2>Kryssa för de typer av poster som ska användas.</h2>
            
             {% for row in all_types %}
                <div class="checkbox">
                    <label><input type="checkbox" value="{{ row[0] }}" name="type">{{ row[1] }}</label>
                </div>
            {% endfor %}
        </div>


        <!--Admin info-->
        <hr>

        <div class="form-group">
            <label class="control-label col-sm-3" for="admin_name">Administratörens namn:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="admin_name" name="admin_name" placeholder="Förnamn Efternamn">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="admin_address">Administratörens adress:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="admin_address" name="admin_address" placeholder="Adress">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="admin_email">Administratörens email:</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="admin_email" name="admin_email" placeholder="nnn@nn.nn">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="admin_phone">Administratörens telefonnummer:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="admin_phone" name="admin_phone" placeholder="012-3456789">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="admin_aquarium_club">Administratörens akvarieförening:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="admin_aquarium_club" name="admin_aquarium_club" placeholder="Akvarieförening">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="admin_password">Administratörens lösenord:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="admin_password" name="admin_password" placeholder="lösenord">
            </div>
        </div>
        <div id="message" class="bg-danger"></div>

        <div class="checkbox">
            <label class="control-label"><input type="checkbox" id="cookies" name="cookies" value="yes" >Jag accepterar att denna tjänst använder cookies för att hantera inloggning.</label>
        </div>
        <div class="checkbox">
            <label class="control-label"><input type="checkbox"  id="database" name="database"value="yes">Jag accepterar att denna tjänst lagrar mina uppgifter i en databas.</label>
        </div>
        <br>
        <div id="checkbox_message" class="bg-danger"></div>
        <br>
        <!--Send button-->
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="submit" value="Skicka" class="btn btn-primary">
                <!--<button type="submit" class="btn btn-default">Submit</button>-->
            </div>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='js/create_event.js') }}"></script>

{% endblock %}
