{% extends "base.html" %}
{% block title %} Ladda ner databasen {% endblock %}
{% block body %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h1 class="h3 mb-3">Ladda ner databasen</h1>
                    <p class="text-body-secondary">Ladda ner en kopia av den aktuella SQLite-databasen.</p>
                    <a class="btn btn-primary" href="{{ url_for('get_database') }}">
                        <i class="fa fa-download" aria-hidden="true"></i> Ladda ner
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
