{% extends "base.html" %}
{% block title %} Ändra lösenord {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="container">
        <h1> Ändra lösenord för {{ name }}</h1>
        <form action="" method="POST">
            <input type="hidden" value="{{ seller_id }}" name="seller_id" />
{#            <label for="username">E-postadress</label>#}
{#            <input type="text" name="username" id="username" class="form-control"> <br>#}
            

{#            <label for="seller_select">Antal poster att registrera:</label><br>#}
{#            <select id="seller_select" name="seller_select" class="selectpicker form-control">#}
{#                {% for seller in sellers %}#}
{#                    <option value="{{ seller[0] }}">{{ seller[1] }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
            <label for="password">Nytt lösenord</label>
            <input type="password" name="password" id="password" class="form-control" data-toggle="password"> <br>
            <input type="submit" value="Skicka" class="btn btn-primary">

        </form>
    </div>
{% endblock %}
