{% extends "base.html" %}
{% block title %}Återställ lösenord{% endblock %}
{% block body %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-5">
            <div class="alert alert-info">
                Om e-postadressen tillhör ett konto har ett meddelande med en återställningslänk skickats.
            </div>
            <a class="btn btn-outline-primary" href="{{ url_for('login') }}">Till inloggningen</a>
        </div>
    </div>
</div>
{% endblock %}
