{% extends "base.html" %}
{% block title %} Start {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}

    <div class="container">
        <h1> Välkommen till registreringen inför {{ event_name }} som anordnas <br> {{ event_date }} av {{ club_name }}</h1>

        {{ event_description|safe }}

        <br>
        <h3>Kort handledning</h3>
        <ul>
            <li>Skapa en ny användare, fliken <i>Registera säljare</i>. E-postadressen är ditt användarnamn.</li>
            <li>logga in.</li>
            <li>Registera de poster du vill sälja. Du kan komma tillbaka senare och anmäla fler poster.</li>
            <li>I fliken <i>Poster -> Visa mina anmälda poster</i> kan nu titta på, ändra eller ta bort dina poster.</li>
            <li>Om du vill kan du ladda ner en pdf med dina etiketter. Men alla kommer att få etiketter på plats. Detta är bara om du vill klistra etiketter hemma i lugn och ro.</li>
        </ul>
        <p>
            Alla kan se listan över anmälda poster, utan att ha konto eller logga in.
        </p>
        <h4>I enlighet med kraven från Jordbruksverket måste vetenskapligt namn anges på fiskar.</h4>

    </div>
{% endblock %}
