{% extends "base.html" %}
{% block title %} Säljare {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
<h1> Säljare </h1>

<table style="width:100%">
    <tr>
        <th>Namn</th>
        <th>Adress</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Förening</th>
        <th>Etiketter pdf</th>
        <th>Etiketter print</th>
        <th>Kvitto pdf</th>
        <th>Kvitto print</th>

  </tr>
  {% for row in data %}
   <tr>
       <td> {{ row[0] }} </td>
       <td> {{ row[1] }} </td>
       <td> {{ row[2] }} </td>
       <td> {{ row[3] }} </td>
       <td> {{ row[4] }} </td>
       <td><a href=" {{ url_for('labels_view') }}/{{ row[5] }} " >{{ row[5] }}</a>  </td>
       <td><a href=" {{ url_for('labels_server_print') }}/{{ row[5] }} " >{{ row[5] }}</a>  </td>
       <td><a href=" {{ url_for('receipt_view') }}/{{ row[5] }} " >{{ row[5] }}</a>  </td>
       <td><a href=" {{ url_for('receipt_server_print') }}/{{ row[5] }} " >{{ row[5] }}</a>  </td>
   </tr>
  {% endfor %}

</table>



{% endblock %}
