{% extends "base.html" %}
{% block title %} Postlista {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="container">
        <h1> Checka in / ut poster</h1>


        <table style="width:100%" class="table table-hover" id="sorted_table">
            <thead>
            <tr>
                <th>Nr&nbsp;&nbsp;</th>
                <th>Vetenskapligt namn&nbsp;</th>
                <th>Namn&nbsp;</th>
                <th>Beskrivning av posten&nbsp;</th>
                <th>Checked in</th>
                <th>Toggle check in</th>
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
                <tr>
                    <td> {{ row[0] }}</td>
                    <td> {{ row[1] }}</td>
                    <td> {{ row[2] }}</td>
                    <td> {{ row[3] }}</td>
                    {% if row[4] == "yes" %}
                        <td><span class="btn btn-success glyphicon glyphicon-ok-circle"></span></td>
                    {% else %}
                        <td><span class="btn btn-danger glyphicon glyphicon-ban-circle"></span></td>
                    {% endif %}

                    {% if row[4] == "yes" %}
                        <td>
                            <a class="btn btn-warning" href=" {{ url_for('check_out_post') }}/{{ row[0] }} "> Check ut
                                <span class="glyphicon glyphicon-check"></span>
                            </a>
                        </td>
                    {% else %}
                        <td>
                            <a class="btn btn-success" href=" {{ url_for('check_in_post') }}/{{ row[0] }} "> Check in
                                <span class="glyphicon glyphicon-check"></span>
                            </a>
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='js/sort_tables.js') }}"></script>
{% endblock %}
