{% extends "base.html" %}
{% block title %} Säljare {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="container">
        <h1> Säljare </h1>

        <table style="width:100%" class="table table-hover" id="sorted_table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Namn</th>
                <th>Nr poster</th>
                <th>In checkad</th>
                <th>Checka in</th>
                <th>Check in/ut poster</th>
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
                <tr>
                    <td> {{ row[0] }}</td>
                    <td> {{ row[1] }}</td>
                    <td> {{ row[2] }}</td>

                    {% if row[3] == "yes" %}
                        <td><span class="btn btn-success glyphicon glyphicon-ok-circle"></span></td>
                    {% else %}
                        <td><span class="btn btn-danger glyphicon glyphicon-ban-circle"></span></td>
                    {% endif %}

                    {% if row[3] == "yes" %}
                        <td>
                            <a class="btn btn-warning" href=" {{ url_for('check_out_seller') }}/{{ row[0] }} "> Check ut
                                <span class="glyphicon glyphicon-check"></span>
                            </a>
                        </td>
                    {% else %}
                        <td>
                            <a class="btn btn-success" href=" {{ url_for('check_in_seller') }}/{{ row[0] }} "> Check in
                                <span class="glyphicon glyphicon-check"></span>
                            </a>
                        </td>
                    {% endif %}
                    {% if row[3] == "yes" %}
                        <td>
                            <a class="btn btn-default" href=" {{ url_for('list_posts_checkin') }}/{{ row[0] }} "> Poster
                                <span class="glyphicon glyphicon-check"></span>
                            </a>
                        </td>
                        {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='js/sort_tables.js') }}"></script>
{% endblock %}
