{% extends "base.html" %}
{% block title %} Contact {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
<h1> Förhandsanmälda poster </h1>

<h2>{{ nr_posts[0] }}</h2>
<p>
    {{ nr_posts[1] }} <br> {{ nr_posts[2] }}
</p>

<table style="width:100%">
    <tr>
        <th>Nr</th>
        <th>Vetenskapligt namn</th>
        <th>Namn</th>
        <th>Beskrivning av posten</th>
        <th>Antal</th>
        <th>Godstyp</th>
  </tr>
  {% for row in data %}
   <tr>
       <td> {{ row[0] }} </td>
       <td> {{ row[1] }} </td>
       <td> {{ row[2] }} </td>
       <td> {{ row[3] }} </td>
       <td> {{ row[4] }} </td>
       <td> {{ row[5] }} </td>

   </tr>
  {% endfor %}

</table>


{% endblock %}
