{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
<h1> Login </h1>
<p>Logga in för att komma åt alla sidor.</p>
<form action=""  method="POST" >
    <label for="username">E-postadress</label>
    <input type="text" name="username" id="username" class="form-control"> <br>
    <label for="password">Lösenord</label>
    <input type="password" name="password" id="password" class="form-control"> <br>
    <input type="submit" value="Login" class="btn btn-default">
</form>
{% endblock %}
