<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1> Sammanställning för {{ name }} </h1>
<p>Inlämningsnummer {{nr}} </p>

<table style="width:100%">
    <tr>
        <th>Post nr</th>
        <th>Typ</th>
        <th>Namn</th>
        <th>Pris</th>
        <th>Såld via</th>

  </tr>
  {% for row in data %}
   <tr>
       <td> {{ row[0] }} </td>
       <td> {{ row[1] }} </td>
       <td> {{ row[2] }} </td>
       <td> {{ row[3] }} </td>
       <td> {{ row[4] }} </td>
   </tr>
  {% endfor %}
   <tr>
       <td> </td>
       <td> </td>
       <td align="right"> Summa </td>
       <td> {{ sum }} </td>
       <td> </td>
   </tr>
    <tr>
       <td> </td>
       <td> </td>
       <td align="right"> Avgår provision </td>
       <td> {{ provision }} </td>
       <td> </td>
   </tr>

    <tr>
       <td> </td>
       <td> </td>
       <td align="right"> Till säljaren </td>
       <td> {{ to_seller }} </td>
       <td> </td>
   </tr>
</table>


</body>
</html>