{% extends "base.html" %}
{% block title %} Registrera många poster {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <h1>Registrera många poster</h1>

    <form  action="/register_many_posts" method="POST">

        <div id="create_posts">
            <label for="numberofposts">Antal poster att registrera:</label><br>
            <input class="forty" id="numberofposts" name="numberofposts" type="text" value="">
            Välj typ av post <br>
            {% autoescape false %}
            {{ select }}
            {% endautoescape %}
            <br>
            <button id="addbutton" type="button">Skapa poster</button>
        </div>

        <div id="form_elements">


        </div> <!--form_elements    -->
        <div class="clearfix">
            <br>
            <input id="submit" name="submit" type="submit" value="Skicka">
        </div>
    </form>

    <script src="{{ url_for('static', filename='js/register_many.js') }}"></script>
{% endblock %}
