{% extends "base.html" %}
{% block title %} Registrera många poster {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <h1>Registrera många poster</h1>

    <div> </div>

    <form  action="/register_many" method="POST">
        <label for="seller_email">Säljarens email:</label>
        <input id="seller_email" name="seller_email" type="text" value="">

        <label for="numberofposts">Antal poster att registrera:</label><br>
        <input class="forty" id="numberofposts" name="numberofposts" type="text" value="">
        <button id="addbutton" type="button">Skapa poster</button>


        <div id="form_elements">


        </div> <!--form_elements    -->
        <div class="clearfix">
            <br>
            <input id="submit" name="submit" type="submit" value="Skicka">
        </div>
    </form>

    <script src="{{ url_for('static', filename='js/register_many.js') }}"></script>
{% endblock %}
